<mat-divider></mat-divider>

<form *ngIf="localeItems$ | async as localeItems" [formGroup]="filter">
	<div class="material-picker-element">

        <div class="color-filter">
            <div class="header">
                <div class="title">
                    <h4>{{ contentSnippet$ | async | contentSnippet: 'colorSelection' }}</h4>
                </div>
            </div>

            <div class="available-colors">
                <div class="elements all-color">
                    <div class="element" (click)="selectColor(null)" [class.selected]="filter.value.colorRating === null">
                        <div class="box linear-gradient">
                            <div class="circle" [class.selected]="filter.value.colorRating === null"><mat-icon>done</mat-icon></div>
                        </div>
                        <div class="name">{{ contentSnippet$ | async | contentSnippet: 'allColors' }}</div>
                    </div>
                </div>
                <div class="elements other-colors">
                    <div class="element" *ngFor="let color of (colors$ | async) || []" (click)="selectColor(color.hex)" [class.selected]="filter.value.colorRating === color.hex">
                        <div class="box" [style.backgroundColor]="color.visibleHex">
                            <div class="circle" [class.selected]="filter.value.colorRating === color.hex"><mat-icon>done</mat-icon></div>
                        </div>
                        <div class="name">{{ color.name }}</div>
                    </div>
                </div>
            </div>
        </div>

	    <mat-divider></mat-divider>

        <!--<div class="search-box" *ngIf="elementState('search-box')">-->
        <div class="search-box" *ngIf="searchBox">
            <div class="header">
                <div class="title">
                    <h4>{{ contentSnippet$ | async | contentSnippet: 'fabricSearch' }}</h4>
                </div>
            </div>

            <div class="element">
                <apto-input-field [formControl]="filter.controls.searchString" [type]="'text'"></apto-input-field>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="properties" formGroupName="properties">
            <div class="header">
                <div class="title">
                    <h4>{{ contentSnippet$ | async | contentSnippet: 'materialProperties' }}</h4>
                </div>
            </div>

            <div class="element">
                <div class="input" *ngFor="let propertyGroup of propertyGroupList">
                    <div class="prefix">{{propertyGroup.name | translate}}</div>
                    <apto-select-box-field
                        [items]="propertyGroup.properties"
                        [formControlName]="propertyGroup.id"
                        [placeholder]="contentSnippet$ | async | contentSnippet: 'allProperty'"
                    >
                    </apto-select-box-field>
                </div>
            </div>
        </div>

	    <mat-divider></mat-divider>

        <div class="price-group">
            <div class="header">
                <div class="title">
                    <h4>{{ contentSnippet$ | async | contentSnippet: 'priceGroup' }}</h4>
                </div>
            </div>

            <div class="element">
                <div class="input" *ngFor="let priceGroup of (priceGroups$ | async) || []"></div>
                <apto-select-field
                    [default]="contentSnippet$ | async | contentSnippet: 'allProperty'"
                    [items]="(priceGroups$ | async) || []"
                    [formControl]="filter.controls.priceGroup"
                ></apto-select-field>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="filtered-materials">
            <div class="header">
                <div class="title">
                    <h4>{{ contentSnippet$ | async | contentSnippet: 'mostPopularColors' }}</h4>
                    <div class="results">{{ materialCount }} {{ contentSnippet$ | async | contentSnippet: 'resultsFound' }}</div>
                </div>
            </div>

            <div class="elements" *ngIf="(items$ | async) || [] as items">
                <div class="element" *ngFor="let item of items"
                     (click)="saveInput(item, localeItems)"
                     [class.selected]="isSelected(item.material.id)"
                     aptoTooltip [tooltipContentRef]="tooltipContent2"
                >
                    <div #tooltipContent2>
                        <apto-material-picker-hover [poolItem]="item"
                        ></apto-material-picker-hover>
                    </div>

                    <div class="box">
                        <div class="circle" [class.selected]="isSelected(item.material.id)"><mat-icon>done</mat-icon></div>
                        <img [src]="mediaUrl + item.material.previewImage.path" />
                    </div>
                    <div class="name">{{ item.material.name | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</form>
