<md-dialog class="apto-md-dialog-fullscreen" aria-label="List dialog">
    <form name="contentSnippetForm">
        <md-toolbar class="apto-md-toolbar-dark">
            <div class="md-toolbar-tools">
                <h3><span>Id: {{ contentSnippetDetails.id }}</span></h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-set="fa">&#xf00d</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-align="start" flex>
                    <div layout="column" flex>
                        <div layout="row" layout-align="start" flex>
                            <md-input-container class="md-block" flex>
                                <label>Name:</label>
                                <input required ng-model="contentSnippetDetails.name" >
                            </md-input-container>
                        </div>
                    </div>
                    <div flex="5"></div>
                    <div layout="column" flex>
                        <div layout="row" layout-align="start" flex>
                            <md-input-container flex>
                                <md-checkbox ng-model="contentSnippetDetails.active" ng-init="contentSnippetDetails.active = true" aria-label="Aktiv">
                                    Aktiv
                                </md-checkbox>
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex>
                                <md-checkbox ng-model="contentSnippetDetails.html" ng-init="contentSnippetDetails.html = false" aria-label="Html">
                                    Html
                                </md-checkbox>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div layout="row" layout-align="start" flex>
                    <md-input-container ng-if="'superadmin' !== currentUserFactory.currentUser.id" class="md-block" flex>
                        <input type="hidden" ng-model="contentSnippetDetails.parent">
                    </md-input-container>

                    <md-input-container ng-if="'superadmin' === currentUserFactory.currentUser.id" class="md-block" flex>
                        <label>Parent:</label>
                        <input type="text" ng-model="contentSnippetDetails.parent">
                    </md-input-container>
                </div>

                <div layout="row" layout-align="start" flex>
                    <apto-translated-value ng-if="contentSnippetDetails.html" label="'Inhalt'" type="'trumbowyg'" translated-value="contentSnippetDetails.content" flex="100"></apto-translated-value>
                    <apto-translated-value ng-if="!contentSnippetDetails.html" label="'Inhalt'" type="'textarea'" translated-value="contentSnippetDetails.content" flex="100"></apto-translated-value>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-cornered" ng-click="close()">Abbrechen</md-button>

            <md-button ng-if="!contentSnippetDetails.id" class="md-raised md-cornered" ng-click="save(contentSnippetForm)" type="submit">Speichern und hinzufügen</md-button>
            <md-button ng-if="!contentSnippetDetails.id" class="md-raised md-primary md-cornered" ng-click="save(contentSnippetForm, true)" type="submit">Speichern</md-button>

            <md-button ng-if="contentSnippetDetails.id" class="md-raised md-cornered" ng-click="save(contentSnippetForm, true)" type="submit">Speichern und schließen</md-button>
            <md-button ng-if="contentSnippetDetails.id" class="md-raised md-primary md-cornered" ng-click="save(contentSnippetForm)" type="submit">Speichern</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>