<ng-container *ngIf="product$ | async as product">
	<div class="one-page {{ product.identifier }}">
		<div class="content" [ngClass]="{ hidden: hideOnePage$ | async }">
            <div *ngIf="(configurationLoading$ | async)" class="loading-container">
                <div class="loading-overlay"></div>
                <div class="loading-spinner">
                    <mat-spinner diameter="75" color='primary'></mat-spinner>
                </div>
            </div>

			<div class="render-img-menu">
				<apto-o-p-full-screen [ngClass]="{'hidden-fullscreen': !renderImage}"
					[perspectives]="perspectives$ | async"
					[product]="product"
				></apto-o-p-full-screen>
				<div *ngIf="!renderImage" class="no-render-image">Nicht genügend konfiguriert um eine Demo darzustellen!</div>
				<apto-sidebar-summary-render-image *ngIf="renderImage"
                    [perspectives]="perspectives$ | async"
                    [product]="product">
                </apto-sidebar-summary-render-image>
                <apto-o-p-button></apto-o-p-button>
            </div>
            <div class="section-list-menu">
                <div class="title">
                    <div class="headline">
                        <h1>{{ product.name | translate }}</h1>
                    </div>
                </div>
                <div class="section-list">
                    <div class="section-list-content">
                        <apto-o-p-steps></apto-o-p-steps>
                    </div>
                </div>
                <apto-sidebar-summary> </apto-sidebar-summary>
            </div>
        </div>
        <apto-slot-outlet *ngIf="(hideOnePage$ | async)" identifier="one-page-designer"></apto-slot-outlet>
        <div class="description">
            <h2>Produktdetails</h2>
            <div [innerHTML]="product.description | translate | safeHtml"></div>
        </div>
    </div>
</ng-container>
