<ng-container *ngIf="product$ | async as product">
	<div class="one-page {{ product.identifier }}">
		<div class="content" [ngClass]="{ hidden: hideOnePage }">
            <apto-loading-indicator *ngIf="(configurationLoading$ | async)" [type]="loadingIndicatorTypes.ELEMENT"></apto-loading-indicator>

			<div class="render-img-menu">
				<apto-o-p-full-screen [ngClass]="{'hidden-fullscreen': !renderImage}"
					[perspectives]="perspectives$ | async"
					[product]="product"
                    [renderImage]="renderImage"
				></apto-o-p-full-screen>
				<div *ngIf="!renderImage && !(configurationLoading$ | async)" class="no-render-image">Nicht genügend konfiguriert um eine Demo darzustellen!</div>
				<apto-sidebar-summary-render-image *ngIf="renderImage"
                    [perspectives]="perspectives$ | async"
                    [renderImage]="renderImage"
                    [product]="product">
                </apto-sidebar-summary-render-image>
                <apto-o-p-button></apto-o-p-button>
            </div>
            <div class="section-list-menu">
                <div class="title">
                    <div class="headline">
                        <h1>{{ product.name | translate }}</h1>
                    </div>
                </div>
                <div class="section-list">
                    <div class="section-list-content">
                        <apto-o-p-steps></apto-o-p-steps>
                    </div>
                </div>
                <apto-sidebar-summary> </apto-sidebar-summary>
            </div>
        </div>
        <apto-slot-outlet *ngIf="hideOnePage" identifier="one-page-designer"></apto-slot-outlet>
        <div class="description">
            <h2 *ngIf="((contentSnippet$ | async | contentSnippet: 'productDetail.title'))">{{ (contentSnippet$ | async | contentSnippet: 'productDetail.title') }}</h2>
            <apto-slot-outlet identifier="before-product-description"></apto-slot-outlet>
            <div [innerHTML]="product.description | translate | safeHtml"></div>
            <apto-slot-outlet identifier="after-product-description"></apto-slot-outlet>
        </div>
    </div>
</ng-container>
