<div class="slider-field">
    <div class="container">
        <div class="label-container" *ngIf="showLabel">
            <div class="flex-container">
                <div class="label">
                    <span class="prefix" *ngIf="prefix">{{ prefix }}</span>
                    <span class="value">{{ visibleValue || value }}</span>
                    <span class="suffix" *ngIf="suffix">{{ suffix }}</span>
                </div>
            </div>
        </div>

        <mat-slider *ngIf="value"
            class="example-margin"
            [disabled]="disabled"
            [min]="min"
            [max]="max"
            [step]="step"
            [color]="color"
            (input)="onSliderMove($event)"
            (change)="onSliderChange($event)"
            [(ngModel)]="value"
            (ngModelChange)="onInputChange($event)"
        ></mat-slider>
    </div>
    <div class="hint" *ngIf="hint">{{ hint }}</div>
</div>
