<apto-page-header config="pageHeaderConfig" actions="pageHeaderActions"></apto-page-header>
<div ng-include="'catalog/pages/product/product-filter.html'"></div>
<apto-data-list config="dataListConfig" data="products" actions="dataListActions"></apto-data-list>
<div ng-include="'catalog/pages/product/product-batch-change.html'"></div>