<apto-page-header config="pageHeaderConfig" actions="pageHeaderActions" data-cy="page-header"></apto-page-header>
<div ng-include="'catalog/pages/product/product-filter.html'"></div>
<apto-data-list config="dataListConfig" data="products" actions="dataListActions" data-cy="product-list"></apto-data-list>
<div ng-include="'catalog/pages/product/product-batch-change.html'"></div>
