@import "globals";

.step-by-step-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    margin: 0 0 50px 0;
    gap: 50px;

    apto-sbs-elements,
    apto-sidebar-summary {
        margin: 0 15px;
    }
}

@media only screen and (min-width: $desktop-max-width) {
    .step-by-step-container {
        grid-template-columns: 320px 1fr 300px;
        margin: 0 0 0 0;
        grid-template-rows: auto;

        apto-sbs-elements,
        apto-sidebar-summary {
            margin: 50px 0;
        }
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .step-by-step-container {
        gap: 30px;
        margin: 0 0 16px 0;
    }
}
