<ng-container *ngIf="product && sumPrice !== undefined">
	<ng-container *ngIf="product.useStepByStep">
        <form [formGroup]="quantityInputGroup">

        <div class="step-by-step-summary">
			<div class="select-basket">
				<div *ngIf="discount && discount > 0" class="discount">
					<h4>{{ sumPseudoPrice }}</h4>
				</div>
				<h3 class="sum-amount">{{ sumPrice }}</h3>
				<span class="mwst-info">{{ contentSnippets$ | async | contentSnippet: 'tax.withTax' }}
                    <span>
                        <a *ngIf="sidebarSummary$ | async | contentSnippet: 'shippingCostsLink'" href="{{ sidebarSummary$ | async | contentSnippet: 'shippingCostsLink' }}" target="_blank">
                            {{ sidebarSummary$ | async | contentSnippet: 'shippingCosts' }}
                        </a>
                    </span>
                    <span>
                        <p *ngIf="!(sidebarSummary$ | async | contentSnippet: 'shippingCostsLink')">{{ sidebarSummary$ | async | contentSnippet: 'shippingCosts' }}</p>
                    </span>
                </span>
			</div>
			<div class="add-basket">
                <apto-quantity-input-editable
                    [name]="'quantityInput'"
                    formControlName="quantityInput"
                    [size]="'small'"
                    [width]="'100px'"
                ></apto-quantity-input-editable>

                <button class="sbs-button add-to-basket" [disabled]="progress !== 100" color="primary" routerLink="summary" mat-flat-button>
					{{ contentSnippets$ | async | contentSnippet: 'addToBasket' }}
				</button>
			</div>
			<div *ngIf="sidebarSummary$ | async | contentSnippet: 'basketNotification' " class="info">
				<div>
					<mat-icon>info</mat-icon>
				</div>
				<p>{{ sidebarSummary$ | async | contentSnippet: 'basketNotification' }}</p>
			</div>
		</div>
        </form>
    </ng-container>

	<ng-container *ngIf="!product.useStepByStep">
        <form [formGroup]="quantityInputGroup">
		<div class="one-page-summary">
			<div class="select-basket">
				<div class="line-content">
                    <div *ngIf="discount && discount > 0" class="discount">
						<h4 class="discount-amount">{{ sumPseudoPrice }}</h4>
					</div>
					<h3 class="sum-amount">{{ sumPrice }}</h3>
					<span class="mwst-info">{{ contentSnippets$ | async | contentSnippet: 'tax.withTax' }}
                        <span>
                            <a *ngIf="sidebarSummary$ | async | contentSnippet: 'shippingCostsLink'" href="{{ sidebarSummary$ | async | contentSnippet: 'shippingCostsLink' }}" target="_blank">
                                {{ sidebarSummary$ | async | contentSnippet: 'shippingCosts' }}
                            </a>
                        </span>
                        <span>
                            <p *ngIf="!(sidebarSummary$ | async | contentSnippet: 'shippingCostsLink')">{{ sidebarSummary$ | async | contentSnippet: 'shippingCosts' }}</p>
                        </span>
                    </span>
				</div>
			</div>
			<div class="add-basket">
                <apto-quantity-input-editable
                    [name]="'quantityInput'"
                    formControlName="quantityInput"
                    [size]="'big'"
                    [width]="'120px'"
                ></apto-quantity-input-editable>
                <button class="one-page-button add-to-basket" [disabled]="progress !== 100" color="primary" routerLink="summary" mat-flat-button>
					{{ contentSnippets$ | async | contentSnippet: 'addToBasket' }}
				</button>
			</div>
		</div>
        </form>
	</ng-container>
</ng-container>
