# confirado default
/.settings/
/.buildpath
/.project
/nbproject/
/.idea/

# apto default ignores
/vendor/

# project ignores
/Apto/Base/Infrastructure/AptoBaseBundle/Logs/MessageBus/*.html
/Apto/Base/Infrastructure/AptoBaseBundle/Logs/MessageBus/prod/
/Apto/Base/Infrastructure/AptoBaseBundle/Logs/MessageBus/dev/

