<md-tabs>
    <md-tab label="Preise">
        <div class="apto-tab-content">

            <div layout="row" layout-align="start" flex>
                <md-input-container flex>
                    <!-- <apto-price-input amount="newPrice.amount"></apto-price-input> -->
                    <input ng-model="newPrice.amount">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex>
                    <label>Währung:</label>
                    <input ng-model="newPrice.currencyCode">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex>
                    <label>Kundengruppe:</label>
                    <md-select ng-model="newPrice.customerGroupId">
                        <md-option ng-value="group.id" ng-repeat="group in availableCustomerGroups">{{ group.name }}</md-option>
                    </md-select>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container>
                    <md-button ng-disabled="!newPrice.amount || !newPrice.currencyCode || !newPrice.customerGroupId" style="margin: 0;" class="md-raised md-primary md-cornered" ng-click="addPrice()">Hinzufügen</md-button>
                </md-input-container>
            </div>

            <md-table-container class="md-whiteframe-2dp">
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column style="width:30%;">Preis</th>
                        <th md-column style="width:30%;">Währung</th>
                        <th md-column style="width:40%;">Kundengruppe</th>
                        <th md-column style="width:60px;">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="price in prices">
                        <!-- <td md-cell price-format="{{price.amount}}"></td> -->
                        <td md-cell>{{price.amount}}</td>
                        <td md-cell>{{price.currencyCode}}</td>
                        <td md-cell>
                            <apto-customer-group-name customer-group-id="price.customerGroupId" available-customer-groups="availableCustomerGroups"></apto-customer-group-name>
                        </td>
                        <td md-cell>
                            <md-button
                                    title="Löschen"
                                    class="md-icon-button md-warn"
                                    apto-confirm-remove="removePrice(price.id)">
                                <md-icon md-font-set="fa">&#xf014</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-tab>

    <md-tab label="Preismatrix">
        <div class="apto-tab-content">

            <div layout="row" layout-align="start" flex>
                <md-input-container flex>
                    <md-checkbox ng-model="detail.priceMatrixActive" aria-label="Aktivieren">
                        Aktivieren
                    </md-checkbox>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start" flex>
                <md-autocomplete
                        md-floating-label="Preismatrix:"
                        md-require-match="true"
                        md-selected-item="priceMatrix.priceMatrix"
                        md-search-text="priceMatrix.searchTerm"
                        md-item-text="languageFactory.translate(availablePriceMatrix.name)"
                        md-items="availablePriceMatrix in availablePriceMatrices | filter:priceMatrix.searchTerm"
                        md-no-cache="true"
                        md-clear-button="true"
                        md-selected-item-change="onSelectPriceMatrix()"
                        flex
                >
                    <md-item-template>
                        <span md-highlight-text="priceMatrix.searchTerm">{{ languageFactory.translate(availablePriceMatrix.name) }}</span>
                    </md-item-template>
                    <md-not-found>
                        Keine Preismatrix gefunden.
                    </md-not-found>
                </md-autocomplete>
            </div>

            <div layout="row" layout-align="start" flex>
                <md-input-container flex>
                    <label>Spalte:</label>
                    <input ng-model="detail.priceMatrixRow">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex>
                    <label>Zeile:</label>
                    <input ng-model="detail.priceMatrixColumn">
                </md-input-container>
            </div>

        </div>
    </md-tab>

    <md-tab label="Preisformeln">
        <div class="apto-tab-content">

            <div layout="row" layout-align="start" flex>
                <md-input-container flex>
                    <input ng-model="newPriceFormula.formula">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex>
                    <label>Währung:</label>
                    <input ng-model="newPriceFormula.currencyCode">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex>
                    <label>Kundengruppe:</label>
                    <md-select ng-model="newPriceFormula.customerGroupId">
                        <md-option ng-value="group.id" ng-repeat="group in availableCustomerGroups">{{ group.name }}</md-option>
                    </md-select>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container>
                    <md-button ng-disabled="!newPriceFormula.formula || !newPriceFormula.currencyCode || !newPriceFormula.customerGroupId" style="margin: 0;" class="md-raised md-primary md-cornered" ng-click="addPriceFormula()">Hinzufügen</md-button>
                </md-input-container>
            </div>

            <md-table-container class="md-whiteframe-2dp">
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column style="width:30%;">Formel</th>
                        <th md-column style="width:30%;">Währung</th>
                        <th md-column style="width:40%;">Kundengruppe</th>
                        <th md-column style="width:60px;">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="priceFormula in priceFormulas">
                        <td md-cell>{{priceFormula.formula}}</td>
                        <td md-cell>{{priceFormula.currencyCode}}</td>
                        <td md-cell>
                            <apto-customer-group-name customer-group-id="priceFormula.customerGroupId" available-customer-groups="availableCustomerGroups"></apto-customer-group-name>
                        </td>
                        <td md-cell>
                            <md-button
                                    title="Löschen"
                                    class="md-icon-button md-warn"
                                    apto-confirm-remove="removePriceFormula(priceFormula.id)">
                                <md-icon md-font-set="fa">&#xf014</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-tab>

    <md-tab label="Erweiterte Preiskalkulation">
        <div class="apto-tab-content">
            <div layout="row" layout-align="start" flex>
                <md-input-container flex>
                    <md-checkbox ng-model="detail.extendedPriceCalculationActive" aria-label="Aktivieren">
                        Aktivieren
                    </md-checkbox>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start" flex>
                <md-input-container class="md-block" flex>
                    <label>Formel:</label>
                    <input ng-model="detail.extendedPriceCalculationFormula">
                </md-input-container>
            </div>

            <div>
                <p>
                    <strong>Funktionsweise:</strong> Das Ergebnis der Formel wird als Preis hinterlegt.
                </p>

                <p>
                    <strong>Erlaubte Variablen in Formel:</strong> In der Formel kann auf die berechneten Werte des aktuellen Produktes und auf den hinterlegten Preis, der Bestellmenge und der Währung im Element zugegriffen werden.
                </p>

                <p>
                    <strong>Variablen in Formel:</strong> "{_preis_}, {_anzahl_}, {_waehrung_}, {name-berechneter-wert}"
                </p>
            </div>
        </div>
    </md-tab>

</md-tabs>
