<div flex layout="row">
    {% include '@AptoBase/apto/base/backend/pages/index/sidebar-left.html.twig' %}
    {% include '@AptoBase/apto/base/backend/pages/index/content.html.twig' %}
    {% include '@AptoBase/apto/base/backend/pages/index/sidebar-right.html.twig' %}
</div>