@import "globals";
@import "elements";

:host {
    .headline {
        @include headline('mobile');
    }

    .element-list {
        display: flex;
        flex-direction: column;
        gap: var(--element-gap);
        margin-bottom: var(--element-gap);

        .element {
            color: var(--color-text);
            background-color: var(--color-background-card);
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius-card);
            max-width: calc(100vw - var(--element-gap));
            overflow: visible; // when hidden popups in material picker element are not visible on second material
        }
    }

    .step-navigation-container {
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        margin-top: 1rem;
        display: flex;
        gap: var(--button-gap);
        flex-direction: row;
        position: sticky;
        bottom: 0;
        padding: 10px 0;
        background-image: linear-gradient(to top, rgba(247, 248, 250, 1) 0%, rgba(247, 248, 250, 0.75) 100%)
    }
}


@media only screen and (min-width: $mobile-max-width) {
    :host {
        .headline {
            @include headline('tablet');
        }

        .step-navigation-container {
            flex-direction: row;
        }

        .element-list {
            gap: 40px;
        }
	}
}

@media only screen and (max-width: $mobile-max-width) {
    :host {
        .headline {
            margin-bottom: 30px;
            h2 {
                font-size: 20px;
            }

            .description {
                font-size: 16px;
            }
        }
    }
}
