<ng-container *ngIf="progressState$ | async as progressState">
	<ng-container *ngIf="progressState.currentStep">
        <div #nextStepScrollTarget class="headline" [class.no-image]="!progressState.currentStep.section.previewImage">
			<apto-section-picture
				*ngIf="progressState.currentStep.section.previewImage"
				class="image"
				[previewImage]="progressState.currentStep.section.previewImage"
				[isZoomable]="progressState.currentStep.section.isZoomable"
			></apto-section-picture>
			<h2 class="title">{{ progressState.currentStep.section.name | translate }} {{ sectionIndex }}</h2>
			<div class="description" [innerHTML]="progressState.currentStep.section.description | translate | safeHtml"></div>
		</div>

        <div class="element-list">
            <ng-container *ngFor="let element of currentProductElements$ | async">
                <div class="element" *ngIf="getProgressElement(element.id) as pElement">
                    <ng-container *ngIf="product$ | async as product">
                        <apto-slot-outlet
                            *ngIf="!isElementDisabled(element.id, element.sectionRepetition) || !product.keepSectionOrder"
                            [identifier]="pElement.element.definition.staticValues.aptoElementDefinitionId"
                            [product]="product$ | async"
                            [section]="progressState.currentStep.section"
                            [element]="pElement"
                        ></apto-slot-outlet>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div class="step-navigation-container">
            <apto-slot-outlet identifier="sbs-elements-step-navigation-container-top"></apto-slot-outlet>

            <!--Obviously we want to hide the back button on the first step-->
			<button *ngIf="currentPosition !== minStepPosition" (click)="prevStep(progressState)" color="accent" mat-flat-button>
				<mat-icon>undo</mat-icon>
				<span>Zurück</span>
			</button>

			<button
				*ngIf="!lastSection(progressState)"
				[disabled]="progressState.currentStep.section.isMandatory && !progressState.currentStep.fulfilled"
				(click)="nextStep(progressState, nextStepScrollTarget)"
				color="primary"
				mat-flat-button
			>
				<mat-icon>done</mat-icon>
				<span>Nächster Schritt</span>
			</button>

			<button
				*ngIf="lastSection(progressState)"
				[disabled]="!(configurationIsValid$ | async)"
				color="primary"
				routerLink="summary"
				mat-flat-button
			>
				<mat-icon>done</mat-icon>
				<span>Konfiguartion abschließen</span>
			</button>

            <apto-slot-outlet identifier="sbs-elements-step-navigation-container-bottom"></apto-slot-outlet>
		</div>
	</ng-container>
</ng-container>
