
<div ng-if="redux.state.initialized && routeAccess.hasAccess" class="apto" ng-class="{'one-page': redux.state.product !== null && redux.state.product.useStepByStep === false, 'step-by-step' :  redux.state.product !== null && redux.state.product.useStepByStep === true }">

    <!-- mobile sidebar -->
    <apto-sidebar-menu></apto-sidebar-menu>

    <!-- basket -->
    <apto-basket></apto-basket>

    <div id="page">
        <apto-header></apto-header>

        <div ng-controller="AptoCatalogController as CatalogCtrl">
            <div ng-if="redux.state.product !== null">
                <div ng-if="false === redux.state.product.useStepByStep && redux.state.productView === 'configuration'">
                    <apto-one-page></apto-one-page>
                </div>
                <div ng-if="true === redux.state.product.useStepByStep && redux.state.productView === 'configuration'">
                    <apto-step-by-step></apto-step-by-step>
                </div>
                <div ng-if="redux.state.productView === 'summary'">
                    <apto-summary></apto-summary>
                </div>
            </div>
            <div class="container" ng-if="redux.state.product === null">
                <div ng-bind-html="snippet('message', false, 'aptoProductIsNotAvailable.', true)"></div>
            </div>
        </div>

        <apto-footer></apto-footer>
    </div>
</div>

<apto-route-access-failed ng-if="redux.state.initialized && !routeAccess.hasAccess"></apto-route-access-failed>
