<div layout="row" layout-align="start" flex>
    <apto-translated-value label="'Name'" type="'input'" translated-value="newSection.value" flex></apto-translated-value>
    <div flex="5"></div>
    <md-checkbox ng-model="newSection.addDefaultElement"></md-checkbox>
    <div style="padding-top: 3vh">Default Element erzeugen</div>
    <div flex="5"></div>
    <md-input-container>
        <md-button ng-disabled="!languageFactory.translate(newSection.value)" style="margin: 0;" class="md-raised md-primary md-cornered" ng-click="addSection()">Hinzufügen</md-button>
    </md-input-container>
</div>

<md-table-container class="md-whiteframe-2dp">
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column style="width:7%;">Aktiv</th>
                <th md-column style="width:7%;">Pficht</th>
                <th md-column style="width:7%;">Position</th>
                <th md-column style="width:24%;">Kennung</th>
                <th md-column style="width:35%;">Name</th>
                <th md-column style="width:20%;">Aktionen</th>
            </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="section in sections">
            <td md-cell style="width:7%;">
                <md-input-container flex>
                    <md-checkbox ng-change="setSectionIsActive(section.id, section.isActive)" ng-model="section.isActive" aria-label="Aktiv"></md-checkbox>
                </md-input-container>
            </td>
            <td md-cell style="width:7%;">
                <md-input-container flex>
                    <md-checkbox ng-change="setSectionIsMandatory(section.id, section.isMandatory)" ng-model="section.isMandatory" aria-label="Mandatory"></md-checkbox>
                </md-input-container>
            </td>
            <td md-cell style="width:7%;">{{ section.position }}</td>
            <td md-cell style="width:24%;">{{ section.identifier }}</td>
            <td md-cell style="width:35%;">{{ languageFactory.translate(section.name) }}</td>
            <td md-cell style="width:20%;">
                <md-button
                        title="Bearbeiten"
                        class="md-icon-button md-primary"
                        ng-click="editSection($event, section.id)"
                >
                    <md-icon md-font-set="fa">&#xf044</md-icon>
                </md-button>
                <md-button
                        title="Kopieren"
                        class="md-icon-button md-primary"
                        ng-click="copySection(section.id)"
                >
                    <md-icon md-font-set="fa">&#xf24d</md-icon>
                </md-button>
                <md-button
                        title="Löschen"
                        class="md-icon-button md-warn"
                        apto-confirm-remove="removeSection(section.id)"
                >
                    <md-icon md-font-set="fa">&#xf014</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
