<apto-many-to-many-value
    available="availableShops"
    assigned="productDetail.shops"
    name-field="name"
    id-field="id"
    on-toggle="onToggleShop(assigned)"
    data-cy="domain-many-to-many"
></apto-many-to-many-value>

<h3 data-cy="domain-title">Domaineigenschaften</h3>

<div ng-repeat="domainProperties in productDetail.domainProperties"
     layout="row"
     layout-align="start"
     flex
     class="md-whiteframe-2dp"
     style="padding: 2rem; margin-bottom: 1rem;"
     data-cy="domain-properties"
>
    <div layout="column" flex data-cy="domain-property-{{domainProperties.shop.name}}">
        <div>
           {{domainProperties.shop.name}}
        </div>
        <div layout="row" layout-align="start" flex data-cy="domain-price-modifier">
            <md-input-container class="md-block" flex>
                <label>Preismultiplikator (in %)</label>
                <input type="number" step="0.01" ng-model="domainProperties.priceModifier" ng-change="updateMultiplierHint($index)">
                <div class="hint">{{getMultiplierHint($index)}}</div>
            </md-input-container>
        </div>
        <div>
            <p>Vorschaubild:</p>
        </div>
        <div layout="row" layout-align="start" style="min-width: 128px; min-height: 128px;" flex>
            <div style="min-width: 128px; min-height: 128px; border: 1px solid #072540; padding: 6px;">
                <apto-media-icon ng-if="domainProperties.previewImage" style="display: block;" file="{path: domainProperties.previewImage, extension: domainProperties.previewImageMediaFile.extension}" size="128x128"></apto-media-icon>
            </div>
            <div flex="5"></div>
            <apto-media-select on-select-file="onSelectDomainPreviewImage($index, path)" label="'Pfad'" path="domainProperties.previewImage" required="false" flex></apto-media-select>
        </div>
        <p></p>
    </div>
</div>
