@import "globals";
@import "common";

$zoom-icon-width: 22px;

.element-picture {
    position: relative;

    &.is-zoomable {
        // if we display zoom icon then we make image smaller to fit the space
        img {
            width: calc(var(--image-tablet-width) - $zoom-icon-width);
        }
    }

    img {
        width: 100%;
    }

    .zoom-icon {
        position: absolute;
        top: -2px;
        right: 0;
        cursor: pointer;

        mat-icon {
            width: 26px;
            height: 26px;
            font-size: 26px;
        }
    }
}

.zoomed-in {
    @include blurry-background();

    .image-wrapper {
        position: relative;

        img {
            max-width: calc(100vw - 100px);
            max-height: calc(100vh - 100px);
        }
    }
}

@media only screen and (max-width: 767px) {
    .element-picture {
        &.is-zoomable {
            img {
                width: calc(var(--image-mobile-width) - $zoom-icon-width);
            }
        }

        .zoom-icon {
        }
    }
}
