<div class="save-dialog" [attr.type]="'custom'">
    <apto-login-close-button [mat-dialog-close]="true" [inner]="true"></apto-login-close-button>

    <h1 mat-dialog-title>{{ contentSnippets$ | async | contentSnippet: 'resetPasswordTitle' }}</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="formGroup" (ngSubmit)="save()">
        <mat-dialog-content>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'email'"
                              [type]="'text'" formControlName="email"></apto-input-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-flat-button color="primary" type="submit" [disabled]="!formGroup.valid">{{ contentSnippets$ | async | contentSnippet: 'resetPassword' }}</button>
        </mat-dialog-actions>
    </form>
</div>
