<div class="input-field" [style.width]="width ? 'max-content' : '100%'" [class.input-disabled]="disabled">
    <div class="prefix" *ngIf="prefix">{{ prefix }}</div>
    <div class="name" *ngIf="name">{{ name }}</div>

    <div class="container-elem" [style.width]="width">
        <input
            type="text"
            [formControl]="formElement"
            [minlength]="minlength"
            [maxlength]="maxlength"
            [placeholder]="placeholder"
            [class.input-disabled]="disabled"
        />
    </div>

    <div class="hint" *ngIf="hint">{{ hint }}</div>
    <div class="suffix" *ngIf="suffix">{{ suffix }}</div>
</div>
