<ng-container *ngIf="product$ | async as product">
	<ng-container *ngIf="product.useStepByStep">
		<div class="list sbs">
            <apto-slot-outlet identifier="sidebar-summary-sbs-top"></apto-slot-outlet>

            <div class="element">
				<div class="divider">
					<apto-sidebar-summary-render-image
						[perspectives]="perspectives$ | async"
                        [renderImage]="renderImage"
						[product]="product"
					>
					</apto-sidebar-summary-render-image>

					<apto-sidebar-summary-price
						[product]="product"
						[progress]="progress$ | async"
						[sumPrice]="sumPrice$ | async"
						[sumPseudoPrice]="sumPseudoPrice$ | async"
						[discount]="(configuration$ | async)?.statePrice?.discount?.discount"
					></apto-sidebar-summary-price>
				</div>
			</div>
			<apto-sidebar-summary-progress [progress]="progress$ | async"></apto-sidebar-summary-progress>
			<apto-sidebar-summary-button></apto-sidebar-summary-button>

            <apto-offer-configuration-button *ngIf="isOfferConfigurationEnabled" [product]="product"></apto-offer-configuration-button>

            <apto-slot-outlet identifier="sidebar-summary-sbs-bottom" [product]="product"></apto-slot-outlet>
        </div>
	</ng-container>
	<ng-container *ngIf="!product.useStepByStep">
		<div class="list one-page">
            <apto-slot-outlet identifier="sidebar-summary-one-page-top"></apto-slot-outlet>

            <apto-sidebar-summary-price
				[product]="product"
				[progress]="progress$ | async"
				[sumPrice]="sumPrice$ | async"
				[sumPseudoPrice]="sumPseudoPrice$ | async"
				[discount]="(configuration$ | async)?.statePrice?.discount?.discount"
			></apto-sidebar-summary-price>

            <apto-slot-outlet identifier="sidebar-summary-one-page-bottom" [product]="product"></apto-slot-outlet>
        </div>
	</ng-container>
</ng-container>
