<div layout="row" layout-align="start" flex>
    <md-input-container flex data-cy="implication-criterion-type">
        <label>Type:</label>
        <md-select
                multiple="false"
                ng-model="$parent.implicationCriterionType"
                ng-model-options="{trackBy: '$value.id'}"
                ng-change="onChangeImplicationCriterionType()"
        >
            <md-option ng-repeat="type in $parent.criterionTypes" ng-value="type">
                {{type.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- section select box -->
    <!-- Had to use ng-hide, because ng-if resulted in some weird behaviour -->
    <md-input-container flex ng-hide="$parent.implicationCriterionType.id !== 0" data-cy="implication-section">
        <label>Sektion:</label>
        <md-select
                multiple="true"
                ng-model="$parent.selectedImplicationSection"
                ng-model-options="{trackBy: '$value.id'}"
                ng-change="onChangeSelectedImplicationSection()"
        >
            <md-option ng-repeat="section in sections" ng-value="section">
                {{section.identifier}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- element select box -->
    <md-input-container flex ng-hide="$parent.implicationCriterionType.id !== 0" data-cy="implication-element">
        <label>Element:</label>
        <md-select
                multiple="true"
                ng-disabled="$parent.selectedImplicationSection === null || $parent.selectedImplicationSection.elements.length <= 0 || $parent.selectedImplicationSection.length !== 1"
                ng-model="$parent.selectedImplicationElement"
                ng-model-options="{trackBy: '$value.id'}"
                ng-change="onChangeSelectedImplicationElement()"
        >
            <md-option ng-if="$parent.selectedImplicationSection[0]" ng-repeat="element in $parent.selectedImplicationSection[0].elements" ng-value="element">
                {{element.identifier}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- properties select box -->
    <md-input-container flex ng-hide="$parent.implicationCriterionType.id !== 0" data-cy="implication-properties">
        <label>Feld:</label>
        <md-select
                multiple="true"
                ng-disabled="$parent.selectableImplicationProperties === null || $parent.selectedImplicationElement.length !== 1"
                ng-model="$parent.selectedImplicationProperty"
                ng-change="onChangeSelectedImplicationProperty()"
        >
            <md-option ng-repeat="property in selectableImplicationProperties" ng-value="property">
                {{property}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- computedValues select box -->
    <md-input-container flex ng-hide="$parent.implicationCriterionType.id !== 1" data-cy="implication-computed-value">
        <label>Berechneter Wert:</label>
        <md-select
                multiple="false"
                ng-model="$parent.selectedImplicationComputedValue"
                ng-model-options="{trackBy: '$value.id'}"
        >
            <md-option ng-repeat="value in $parent.computedValues" ng-value="value">
                {{value.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- operator select box -->
    <md-input-container flex data-cy="implication-operator">
        <label>Operator:</label>
        <md-select
                multiple="false"
                ng-model="$parent.selectedImplicationOperator"
                ng-model-options="{trackBy: '$value.id'}"
                ng-change="onChangeSelectedImplicationOperator()"
        >
            <md-option ng-repeat="operator in selectableImplicationOperators" ng-value="operator">
                {{operator.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <div flex="5"></div>

    <!-- value text field -->
    <md-input-container flex data-cy="implication-value">
        <label>Wert:</label>
        <input ng-disabled="$parent.selectedImplicationOperator === null || $parent.selectedImplicationOperator.id === 0 || $parent.selectedImplicationOperator.id === 1" ng-model="$parent.selectedImplicationValue">
    </md-input-container>
    <div flex="5"></div>

    <!-- add button -->
    <md-input-container>
        <md-button ng-disabled="!isValidImplication()" style="margin: 0;" class="md-raised md-primary md-cornered" ng-click="addImplication()" data-cy="implication-add-button">Hinzufügen</md-button>
        <md-button ng-disabled="!isValidImplication()" ng-if="currentImplicationId" style="margin: 0;" class="md-raised md-primary md-cornered" ng-click="saveImplication()"  data-cy="implication-save-button">Speichern</md-button>
        <md-button ng-disabled="!currentImplicationId" title="Zurücksetzen" class="md-raised md-warn" style="width: 38px; min-width: 0;margin: 0;" ng-click="resetImplicationForm()" data-cy="implication-reset-button">
            <md-icon md-font-set="fa" style="font-size: 17px;line-height: 21px;">&#xf00d;</md-icon>
        </md-button>
    </md-input-container>
</div>

<md-table-container class="md-whiteframe-2dp" data-cy="implications-table">
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column>Sektion/Type</th>
                <th md-column>Element</th>
                <th md-column>Feld</th>
                <th md-column>Operator</th>
                <th md-column>Wert</th>
                <th md-column style="width: 170px"></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="implication in implications">
                <td ng-if="implication.type === 0" md-cell>{{ getSectionIdentifier(implication.sectionId) }}</td>
                <td ng-if="implication.type === 0" md-cell>{{ getElementIdentifier(implication.sectionId, implication.elementId) }}</td>
                <td ng-if="implication.type === 0" md-cell>{{ implication.property }}</td>
                <td ng-if="implication.type === 1" md-cell>Berechneter Wert</td>
                <td ng-if="implication.type === 1" md-cell></td>
                <td ng-if="implication.type === 1" md-cell>{{ implication.computedProductValue[0].name }}</td>

                <td md-cell>{{ getOperatorName(implication.operator) }}</td>
                <td md-cell>{{ implication.value }}</td>
                <td md-cell>
                    <md-button
                        title="Bearbeiten"
                        class="md-icon-button md-primary"
                        ng-click="updateImplication(implication.id)">
                        <md-icon md-font-set="fa">&#xf044</md-icon>
                    </md-button>

                    <md-button
                        title="Kopieren"
                        class="md-icon-button md-primary"
                        ng-click="copyImplication(implication.id)"
                    >
                        <md-icon md-font-set="fa">&#xf24d</md-icon>
                    </md-button>

                    <md-button
                            title="Löschen"
                            class="md-icon-button md-warn"
                            apto-confirm-remove="removeImplication(implication.id)">
                        <md-icon md-font-set="fa">&#xf014</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
