<div class="save-dialog" [attr.type]="'custom'">
    <apto-close-button [mat-dialog-close]="true" [inner]="true"></apto-close-button>

    <h1 mat-dialog-title>{{ contentSnippets$ | async | contentSnippet: 'beforeSave.header' }}</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <apto-input-field [fullWidth]="true" [name]="'E-mail'" [type]="'text'" formControlName="email"></apto-input-field>
            <apto-input-field [fullWidth]="true" [name]="'Name'" [type]="'text'" formControlName="name"></apto-input-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-flat-button color="accent" [mat-dialog-close]="true" type="button">{{ contentSnippets$ | async | contentSnippet: 'form.cancel' }}</button>
            <button mat-flat-button color="primary" type="submit">{{ contentSnippets$ | async | contentSnippet: 'form.submit' }}</button>
        </mat-dialog-actions>
    </form>
</div>
