<div layout="row" layout-align="start" flex>
    <md-input-container class="md-block" flex>
        <label>Name:</label>
        <input required ng-model="shopDetail.name">
    </md-input-container>

    <div flex="5"></div>

    <md-input-container class="md-block" flex>
        <label>Domain:</label>
        <input required ng-model="shopDetail.domain">
    </md-input-container>
</div>

<div layout="row" layout-align="start" flex>
    <md-input-container class="md-block" flex>
        <label>Shopbetreiber Email:</label>
        <input ng-model="shopDetail.operatorEmail">
    </md-input-container>

    <div flex="5"></div>

    <md-input-container class="md-block" flex>
        <label>Shopbetreiber Name:</label>
        <input ng-model="shopDetail.operatorName">
    </md-input-container>
</div>

<div layout="row" layout-align="start" flex>
    <apto-translated-value label="'Connector URL'" type="'input'" translated-value="shopDetail.connectorUrl" flex></apto-translated-value>

    <div flex="5"></div>

    <md-input-container class="md-block" flex>
        <label>Connector Token:</label>
        <input ng-model="shopDetail.connectorToken">
    </md-input-container>
</div>

<div layout="row" layout-align="start" flex>
    <md-input-container class="md-block" flex>
        <label>Template Id:</label>
        <input ng-model="shopDetail.templateId">
    </md-input-container>

    <div flex="5"></div>

    <md-input-container class="md-block" flex>
        <label>Währung:</label>
        <input required ng-model="shopDetail.currency">
    </md-input-container>
</div>

<md-input-container class="md-block">
    <label>Beschreibung:</label>
    <textarea style="display: block;" ng-model="shopDetail.description" rows="1" md-select-on-focus></textarea>
</md-input-container>