@import "globals";
@import "common";

.element-picture {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;

    .arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--color-accent);
        border: none;
        padding: 10px;
        box-sizing: border-box;

        mat-icon {
            font-size: 2vh;
        }

        &.left {
            left: -2.3vh;
        }

        &.right {
            right: -3.25vh;
        }

        mat-icon:hover {
            cursor: pointer;
        }
    }

    &.is-zoomable {
        img {
            width: 100%;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .zoom-icon {
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;

        mat-icon {
            width: 26px;
            height: 26px;
            font-size: 26px;
        }
    }
}

.zoomed-in {
    @include blurry-background();

    .image-wrapper {
        position: relative;

        img {
            max-width: calc(100vw - 100px);
            max-height: calc(100vh - 100px);
        }
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .element-picture {
        .arrows {
            &.left, &.right {
                position: absolute;
                top: 50%;
            }

            mat-icon {
                font-size: 5.5vh;
                height: auto;
                width: auto;
            }

            &.left {
                left: -8.75vh;
            }

            &.right {
                right: -10vh;
            }
        }
    }
}
