<div class="save-dialog" [attr.type]="'custom'">
    <h1 mat-dialog-title>{{ contentSnippets$ | async | contentSnippet: 'login' }}</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="formGroup" (ngSubmit)="login()">
        <mat-dialog-content>
            <div class="error-message" *ngIf="error">{{ contentSnippets$ | async | contentSnippet: 'LoginNotSuccessFull' }}</div>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'EMailUsername'" [type]="'text'" formControlName="username"></apto-input-field>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'Password'" [type]="'password'" formControlName="password"></apto-input-field>
            <a class="forgot-password" *ngIf="connector.url?.register" [href]="connector.url.register" target='_blank'>
                {{contentSnippets$ | async | contentSnippet: 'register'}}
            </a>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-flat-button color="primary" type="submit">{{ contentSnippets$ | async | contentSnippet: 'dialogLogin' }}</button>
        </mat-dialog-actions>
    </form>
</div>
