<mat-toolbar>
    <apto-slot-outlet identifier="header-top"></apto-slot-outlet>

    <div class="login-button" *ngIf="showLoginButton()" (click)="login()"> {{ csLogin$ | async | contentSnippet: 'login' }} </div>
    <div class="login-button" *ngIf="showLogoutButton()" (click)="logout()"> {{ csLogin$ | async | contentSnippet: 'logout' }} </div>

    <ng-container *ngIf="languages$ | async as languages">
        <div class="language-desktop">
            <div *ngIf="languages.length === 1"></div>
            <mat-select *ngIf="languages.length > 1"
                (selectionChange)="onChangeLanguage(selectLanguage.value)"
                #selectLanguage
                [value]="locale$ | async"
                class="selector"
            >
                <mat-option *ngFor="let language of languages" [value]="language.locale" [attr.data-locale]="language.locale">
                    {{ language.name | translate }}
                </mat-option>
            </mat-select>
        </div>
    </ng-container>
    <div *ngIf="contentSnippets$ | async" class="logo">
        <a
            [href]="contentSnippets$ | async | contentSnippet: 'link'"
            [target]="(contentSnippets$ | async | contentSnippet: 'openInNewTab') === 'active' ? '_blank' : '_self'"
        >
            <img *ngIf="contentSnippets$ | async | contentSnippet: 'logoImg'" class="visible-desktop" [src]="mediaUrl + (contentSnippets$ | async | contentSnippet: 'logoImg')" />
            <img *ngIf="contentSnippets$ | async | contentSnippet: 'logoImgMobile'" class="visible-mobile" [src]="mediaUrl + (contentSnippets$ | async | contentSnippet: 'logoImgMobile')" />
        </a>
    </div>

    <div *ngIf="connector.configured" class="basket-wrapper">
        <div class="basket2" (click)="toggleSideBar()">
            <span class="fa fa-shopping-cart"></span>
            {{ csLinksToShop$ | async | contentSnippet: 'basket' }} ({{ totalQuantity }})
        </div>
    </div>

    <ng-container *ngIf="languages$ | async as languages">
        <div class="language-mobile">
            <div *ngIf="languages.length === 1"></div>
            <mat-select #selectLanguageMobile
                        *ngIf="languages.length > 1"
                        (selectionChange)="onChangeLanguage(selectLanguageMobile.value)"
                        [value]="locale$ | async"
                        class="selector"
                        disableOptionCentering
                        panelClass="language-mobile-popup"
            >
                <mat-select-trigger>
                    <span class="material-icons language-icon">language</span>
                </mat-select-trigger>
                <mat-option *ngFor="let language of languages" [value]="language.locale">
                    {{ language.name | translate }}
                </mat-option>
            </mat-select>
        </div>
    </ng-container>

    <apto-slot-outlet identifier="header-bottom"></apto-slot-outlet>
</mat-toolbar>
