<md-dialog class="apto-md-dialog-fullscreen" aria-label="List dialog">
    <form name="categoryForm">
        <md-toolbar class="apto-md-toolbar-dark">
            <div class="md-toolbar-tools">
                <h3><span>Id: {{ categoryDetail.id }}</span></h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-set="fa">&#xf00d</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Kategorie">
                        <div class="apto-tab-content" ng-include="'catalog/pages/category/tabs/category-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Benutzerdefinierte Eigenschaften" ng-if="categoryDetail.id">
                        <div class="apto-tab-content" ng-include="'catalog/pages/category/tabs/custom-properties-tab.html'"></div>
                    </md-tab>
                </md-tabs>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-cornered" ng-click="close()">Abbrechen</md-button>
            <md-button class="md-raised md-primary md-cornered" ng-click="save(categoryForm, true)" type="submit">Speichern</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>