.loading-container {
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &.element {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.global {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .loading-spinner {
        position: absolute;
        // loading-container can be higher then the screen height, so if we put spinner in the middle it can be not visible
        top: calc(min(50vh, 50%));
        left: 50%;
        transform: translateX(-50%);
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
    }
}



