@import "globals";
@import "dialogs";

.password-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .password-update {
        width: 100%;
        max-width: 500px;
        @include border-color();

        h1 {
            @include mat-dialog-title();
        }

        form {
            @include mat-dialog-content();
            gap: var(--element-gap);

            .forgot-password {
                text-align: right;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        .actions {
            @include mat-dialog-actions();

            button {
                @include button();
            }
        }
    }

}
