<div class="password-container">
    <div class="password-update">
        <h1>{{ contentSnippets$ | async | contentSnippet: 'changePasswordTitle' }}</h1>

        <mat-divider></mat-divider>

        <form [formGroup]="formGroup" (ngSubmit)="save()">
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'Password'" [type]="'password'" formControlName="password"></apto-input-field>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'repeatPassword'" [type]="'password'" formControlName="repeatPassword"></apto-input-field>

            <div class="actions">
                <button mat-flat-button color="primary" type="submit" [disabled]="!formGroup.valid">{{ contentSnippets$ | async | contentSnippet: 'changePassword' }}</button>
            </div>
        </form>
    </div>
</div>
