<div class="flex gap-2 card-elem" *ngIf="progress !== undefined && progress !== null">
	<div class="progress-content">
		<mat-progress-spinner color="accent" mode="determinate" value="100" diameter="70" strokeWidth="5"></mat-progress-spinner>
		<mat-spinner color="primary" [mode]="'determinate'" [value]="progress" diameter="70" strokeWidth="5"></mat-spinner>
		<div class="number">
			<div class="progress-number">{{ progress | number: '1.0-0' }}%</div>
		</div>
	</div>
	<div class="info">
		<ng-container *ngIf="progress == 0">
			<div>
                <h4>
                    {{ summaryProgress$ | async | contentSnippet: 'progress=0.headline' }}
                </h4>
                <p>
                    {{ summaryProgress$ | async | contentSnippet: 'progress=0.text' }}
                </p>
            </div>
		</ng-container>
		<ng-container *ngIf="progress > 0 && progress < 50">
			<div>
                <h4>
                    {{ summaryProgress$ | async | contentSnippet: 'progress1to49.headline' }}
                </h4>
                <p>
                    {{ summaryProgress$ | async | contentSnippet: 'progress1to49.text' }}
                </p>
            </div>
		</ng-container>
		<ng-container *ngIf="progress >= 50 && progress <= 74">
			<div>
                <h4>
                    {{ summaryProgress$ | async | contentSnippet: 'progress50to74.headline' }}
                </h4>
                <p>
                    {{ summaryProgress$ | async | contentSnippet: 'progress50to74.text' }}
                </p>
            </div>
		</ng-container>
		<ng-container *ngIf="progress >= 75 && progress < 100">
			<div>
                <h4>
                    {{ summaryProgress$ | async | contentSnippet: 'progress75to99.headline' }}
                </h4>
                <p>
                    {{ summaryProgress$ | async | contentSnippet: 'progress75to99.text' }}
                </p>
            </div>
		</ng-container>
		<ng-container *ngIf="progress == 100">
			<div>
                <h4>
                    {{ summaryProgress$ | async | contentSnippet: 'progress=100.headline' }}
                </h4>
                <p>
                    {{ summaryProgress$ | async | contentSnippet: 'progress=100.text' }}
                </p>
            </div>
		</ng-container>
	</div>
</div>
