<ng-container *ngIf="product$ | async as product">
	<ng-container *ngIf="!product.useStepByStep">

        <ng-container *ngIf="groupedSteps">
            <div *ngFor="let groupedStep of groupedSteps; index as i;">

                <mat-accordion class="section-list">

                    <mat-expansion-panel
                        hideToggle
                        (opened)="setGroupedStepExpanded(groupedStep, true)"
                        (closed)="setGroupedStepExpanded(groupedStep, false)"
                        [expanded]="isGroupedStepExpanded(groupedStep)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>{{groupedStep.group?.name | translate}}</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-accordion class="section-list">
                            <apto-o-p-step
                                *ngFor="let step of groupedStep.steps; index as i; trackBy: stepTrackBy"
                                [status]="step.status"
                                [progressStep]="step"
                                [elements]="step.elements"
                                [description]="step.description"
                                [product]="product"
                                (expandedChanged)="setStepExpanded(step, $event)"
                                [panelOpenState]="isStepExpanded(step)"
                                [index]="i">
                            </apto-o-p-step>
                        </mat-accordion>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>

            <div *ngIf="stepsWithoutGroups">
                <mat-accordion class="section-list">
                    <apto-o-p-step
                        *ngFor="let step of stepsWithoutGroups; index as i; trackBy: stepTrackBy"
                        [status]="step.status"
                        [progressStep]="step"
                        [elements]="step.elements"
                        [description]="step.description"
                        [product]="product"
                        (expandedChanged)="setStepExpanded(step, $event)"
                        [panelOpenState]="isStepExpanded(step)"
                        [index]="i">
                    </apto-o-p-step>
                </mat-accordion>
            </div>

        </ng-container>

		<ng-container *ngIf="!groupedSteps && steps$ | async as steps">
			<mat-accordion class="section-list">
				<apto-o-p-step
					*ngFor="let step of steps.steps; index as i; trackBy: stepTrackBy"
					[status]="step.status"
					[progressStep]="step"
					[elements]="step.elements"
					[description]="step.description"
					[product]="product"
                    (expandedChanged)="setStepExpanded(step, $event)"
                    [panelOpenState]="isStepExpanded(step)"
                    [index]="i">
                </apto-o-p-step>
			</mat-accordion>
		</ng-container>

	</ng-container>
</ng-container>
