<div class="whole-basket" *ngIf="connector$ | async as connector">
	<div class="title flex justify-between items-center">
		<h3>{{ csAptoBasket$ | async | contentSnippet: 'shoppingCartHeadline' }}</h3>
		<button (click)="toggleSideBar()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<div class="product-list">
		<div class="product" *ngFor="let basketItem of connector.basket.articles">
			<div class="image"></div>
			<div class="content">
				<div>
					<h5>{{ basketItem.quantity }}x {{ basketItem.name }}</h5>
					<p>{{ basketItem.price }}</p>
				</div>
				<div class="delete">
					<mat-icon
                        class="color pointer" *ngIf="basketItem.deletable" (click)="removeBasketItem(basketItem.id)"
                    >
                        delete
                    </mat-icon>
				</div>
			</div>
		</div>
	</div>

	<div class="summery flex justify-between">
		<h4 class="text-base color sum">{{ csAptoBasket$ | async | contentSnippet: 'sum' }}</h4>
		<h4 class="text-base color amount">{{ connector.basket.amount }}</h4>
	</div>

    <div
        *ngIf="(csAptoBasket$ | async | contentSnippet: 'checkoutLink') || (csAptoBasket$ | async | contentSnippet: 'cartLink')"
        class="buttons"
    >
        <a
            *ngIf="csAptoBasket$ | async | contentSnippet: 'checkoutLink'"
            [href]="csAptoBasket$ | async | contentSnippet: 'checkoutLink'"
            color="primary"
            mat-flat-button
            target='_blank'
        >
            {{ csAptoBasket$ | async | contentSnippet: 'checkout' }}
        </a>
        <a
            *ngIf="csAptoBasket$ | async | contentSnippet: 'cartLink'"
            [href]="csAptoBasket$ | async | contentSnippet: 'cartLink'"
            color="accent"
            mat-flat-button
            target='_blank'
        >
            {{ csAptoBasket$ | async | contentSnippet: 'cart' }}
        </a>
    </div>
</div>
