<ng-container *ngIf="product$ | async as product">
    <ng-container *ngIf="sumPrice$ | async as sumPrice">
        <apto-summary-finish-message></apto-summary-finish-message>
        <mat-divider></mat-divider>
        <form [formGroup]="quantityInputGroup" class="quantity-form">
            <div class="whole-summary">
                <div class="summary top">
                    <div class="zoom">
                        <apto-o-p-full-screen [perspectives]="perspectives$ | async"
                                              [product]="product"
                        ></apto-o-p-full-screen>
                    </div>
                    <img *ngIf="renderImage" [src]="renderImage.src" />
                    <div class="summary basket">
                        <div class="basket price" *ngIf="showPrices">
                            <h4>{{ sumPrice }}</h4>
                            <span>{{ contentSnippet$ | async | contentSnippet: 'tax.withTax' }}<br />{{ sidebarSummary$ | async | contentSnippet: 'shippingCosts' }}</span>
                        </div>
                        <div class="basket buttons">
                            <apto-quantity-input-editable
                                [minValue]="product.minPurchase"
                                [maxValue]="product.maxPurchase"
                                [name]="'quantityInput1'"
                                formControlName="quantityInput"
                                [size]="'big'"
                                [width]="'100px'"
                            ></apto-quantity-input-editable>
                            <button class="add-to-basket" color="primary" (click)="addBasket()" mat-flat-button>
                                {{ contentSnippet$ | async | contentSnippet: 'addToBasket' }}
                            </button>
                        </div>
                    </div>
                </div>

                <apto-summary-configuration [showPrices]="showPrices"></apto-summary-configuration>

                <div class="summary bottom">
                    <div class="basket bottom">
                        <div class="back-button-container">
                            <button color="accent" [routerLink]="['/product', product.seoUrl]" mat-flat-button>
                                <mat-icon>undo</mat-icon>{{ contentSnippet$ | async | contentSnippet: 'back' }}
                            </button>
                        </div>
                        <apto-quantity-input-editable
                            [minValue]="product.minPurchase"
                            [maxValue]="product.maxPurchase"
                            [size]="'big'"
                            [width]="'100px'"
                            [name]="'quantityInput2'"
                            formControlName="quantityInput"
                        ></apto-quantity-input-editable>
                        <button class="add-to-basket" color="primary" (click)="addBasket()" mat-flat-button>
                            {{ contentSnippet$ | async | contentSnippet: 'addToBasket' }}
                        </button>
                    </div>

                    <apto-offer-configuration-button *ngIf="isOfferConfigurationEnabled" [product]="product"></apto-offer-configuration-button>
                </div>
            </div>
        </form>
    </ng-container>
</ng-container>
