<md-card flex="100">
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">Farbanpassungen</div>
        </md-card-title-text>
    </md-card-title>
    <div layout="row" layout-wrap>
        <md-card-content flex="33">
            <div layout="column">
                <label>
                    Primärfarbe:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33" >
            <div layout="column">
                <label>
                    Sekundärfarbe:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33">
            <div layout="column" flex>
                <label>
                    Schriftfarbe:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33">
            <div layout="column" flex>
                <label>
                    Hintergrundfarbe Header:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33">
            <div layout="column" flex>
                <label>
                    Schriftfarbe Header:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33">
            <div layout="column" flex>
                <label>
                    Hintergrundfarbe Footer:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
        <md-card-content flex="33">
            <div layout="column" flex>
                <label>
                    Schriftfarbe Footer:
                </label>
                <div md-color-picker flex
                     ng-model="materialDetail.properties.color"
                     type="0"
                     default="#FFFFFF"
                     md-color-clear-button="false"
                ></div>
            </div>
        </md-card-content>
    </div>
</md-card>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline">Logoanpassungen und Favicons</div>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <div class="md-content color-">Hauptlogo</div>
    </md-card-content>
    <div layout="row" layout-wrap>
        <md-card-content flex="50">
            <md-input-container class="md-block" flex>
                <label>Höhe:</label>
                <input type="text">
            </md-input-container>
        </md-card-content>
        <md-card-content flex="50">
            <md-input-container class="md-block" flex>
                <label>Breite:</label>
                <input type="text">
            </md-input-container>
        </md-card-content>
    </div>
    <md-card-content>
        <div class="md-content color-">Mobillogo</div>
    </md-card-content>
    <div layout="row" layout-wrap>
        <md-card-content flex="50">
            <md-input-container class="md-block" flex>
                <label>Höhe:</label>
                <input type="text">
            </md-input-container>
        </md-card-content>
        <md-card-content flex="50">
            <md-input-container class="md-block" flex>
                <label>Breite:</label>
                <input type="text">
            </md-input-container>
        </md-card-content>
    </div>
    <md-card-content>
        <div class="md-content color-">Favicon</div>
    </md-card-content>
</md-card>
