<ng-container *ngIf="product$ | async as product">
    <ng-container *ngIf="configuration$ | async as configuration">
        <ng-container *ngIf="basicPrice$ | async as basicPrice">
            <ng-container *ngIf="sumPrice$ | async as sumPrice">
                <ng-container *ngIf="steps$ | async as steps">
                    <div class="summary bottom">
                        <div class="title">
                            <h5>{{ product.name | translate }}</h5>
                            <p class="subtitle">{{ contentSnippet$ | async | contentSnippet: 'headline' }}</p>
                            <p>{{ contentSnippet$ | async | contentSnippet: 'subline' }}</p>
                        </div>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default">
                                <div class="finished-message section">
                                    <div>
                                        <div class="section-name">{{ contentSnippet$ | async | contentSnippet: 'basicPrice' }}</div>
                                    </div>
                                </div>
                                <div class="summary-section-divider"></div>
                                <div class="section-right">
                                    {{ basicPseudoPrice$ | async }}
                                </div>
                            </div>
                        </div>
                        <div class="summary configuration" *ngFor="let section of steps.steps; index as i">
                            <ng-container *ngIf="getSectionPriceTable(section.section) | async as sectionPriceTable">
                                <div class="single-section" (click)="setStep(section.section, product.seoUrl, product.useStepByStep)">
                                    <div class="finished-message section">
                                        <div class="circle list">{{ i + 1 }}</div>
                                        <div>
                                            <div class="section-name">{{ section.section.name | translate }}</div>
                                            <div *ngFor="let element of section.elements">
                                                <div class="element-name" *ngIf="element.state.active">
                                                    {{ element.element.name | translate }}
                                                </div>
                                            </div>
                                            <div *ngIf="!section.active">{{ contentSnippet$ | async | contentSnippet: 'notSelected' }}</div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="(getSectionPseudoPrice(section.section) | async) as sectionPseudoPrice">
                                        <ng-container *ngIf="getSectionPrice(section.section) | async as sectionPrice">
                                            <div class="summary-section-divider"></div>
                                            <div class="section-right" *ngIf="showPrices" (click)="togglePriceTable($event, section.section.id, sectionPriceTable)">
                                                <div class="basic-discount-price" *ngIf="sectionPrice !== sectionPseudoPrice">
                                                    {{ sectionPseudoPrice }}
                                                </div>
                                                <span class="section-price">
                                                    <mat-icon *ngIf="expandedSectionPrices.indexOf(section.section.id) !== -1 && sectionPriceTable.length > 0">expand_less</mat-icon>
                                                    <mat-icon *ngIf="expandedSectionPrices.indexOf(section.section.id) === -1 && sectionPriceTable.length > 0">expand_more</mat-icon>
                                                    {{ sectionPrice }}
                                                </span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <apto-summary-section-price *ngIf="showPrices && sectionPriceTable.length > 0" [section]="section.section" [expanded]="expandedSectionPrices.indexOf(section.section.id) !== -1"></apto-summary-section-price>
                            </ng-container>
                        </div>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default price">
                                <div class="finished-message section">
                                    <div>
                                        <div class="section-name price">{{ contentSnippet$ | async | contentSnippet: 'totalPrice' }} ({{ configuration.statePrice.discount.name | translate }})</div>
                                        <div class="discount-name">{{ contentSnippet$ | async | contentSnippet: 'tax.withTax' }}</div>
                                    </div>
                                </div>
                                <div class="summary-section-divider"></div>
                                <div class="section-right" [ngClass]="{'total-price': true, 'font-smaller': configuration.statePrice.sum.price.amount > 9999}">
                                    <div class="basic-discount-price" *ngIf="configuration?.statePrice?.discount?.discount">
                                        {{ sumPseudoPrice$ | async }}
                                    </div>
                                    {{ sumPrice }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
