    <ng-container *ngIf="configuration$ | async as configuration">
        <ng-container *ngIf="basicPrice$ | async as basicPrice">
            <ng-container *ngIf="sumPrice$ | async as sumPrice">
                <ng-container *ngIf="steps$ | async as steps">
                    <div class="summary bottom">
                        <div class="title">
                            <h5>{{ product.name | translate }}</h5>
                            <p class="subtitle">{{ contentSnippet$ | async | contentSnippet: 'headline' }}</p>
                            <p>{{ contentSnippet$ | async | contentSnippet: 'subline' }}</p>
                        </div>
                        <apto-slot-outlet identifier="before-summary-configuration"></apto-slot-outlet>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default">
                                <div class="finished-message section">
                                    <div>
                                        <div class="section-name base-price">{{ contentSnippet$ | async | contentSnippet: 'basicPrice' }}</div>
                                    </div>
                                </div>
                                <div class="summary-section-divider"></div>
                                <div class="section-right">
                                    {{ basicPseudoPrice$ | async }}
                                </div>
                            </div>
                        </div>
                        <div class="summary configuration" *ngFor="let section of steps.steps; index as i">
                            <ng-container *ngIf="getSectionPriceTable(section.section) | async as sectionPriceTable">
                                <div class="single-section" (click)="togglePriceTable($event, section.section, sectionPriceTable)">
                                    <div class="finished-message section" (click)="onSectionClick($event, section.section, product.seoUrl, product.useStepByStep)">
                                        <div class="circle list">{{ i + 1 }}</div>
                                        <div>
                                            <div class="section-name">
                                                {{ section.section.name | translate }} {{ section.section.repeatableType === SectionTypes.WIEDERHOLBAR ? (section.section.repetition + 1) : '' }}
                                                <apto-discount-tag
                                                    *ngIf="getPriceTableSectionDiscount(sectionPriceTable) as sectionPriceTableItem"
                                                    [label]="sectionPriceTableItem.name"
                                                ></apto-discount-tag>
                                            </div>
                                            <ng-container *ngFor="let element of section.elements">
                                                <div class="element-summary" *ngIf="element.state.active">
                                                    <apto-element-picture
                                                        *ngIf="element.element.previewImage"
                                                        [previewImage]="element.element.previewImage"
                                                    ></apto-element-picture>
                                                    <div class="element-name">
                                                        {{ element.element.name | translate }} <span *ngIf="getElementHumanReadableState(element.element.id, element.state.sectionRepetition) as elementHumanReadableState">({{ elementHumanReadableState }})</span>
                                                        <apto-discount-tag
                                                            *ngIf="getPriceTableElementDiscount(sectionPriceTable, element.element.id) as sectionPriceTableItem"
                                                            [label]="sectionPriceTableItem.name"
                                                        ></apto-discount-tag>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div class="element-summary" *ngIf="!section.active">{{ contentSnippet$ | async | contentSnippet: 'notSelected' }}</div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="(getSectionPseudoPrice(section.section) | async) as sectionPseudoPrice">
                                        <ng-container *ngIf="getSectionPrice(section.section) | async as sectionPrice">
                                            <div class="summary-section-divider" *ngIf="showPrices"></div>
                                            <div class="section-right" *ngIf="showPrices">
                                                <div class="basic-discount-price" *ngIf="sectionPrice !== sectionPseudoPrice">
                                                    {{ sectionPseudoPrice }}
                                                </div>
                                                <span class="section-price">
                                                    <mat-icon *ngIf="expandedSectionPrices.includes(getSectionExpandIdentifier(section.section)) && sectionPriceTable.length > 1">expand_less</mat-icon>
                                                    <mat-icon *ngIf="!expandedSectionPrices.includes(getSectionExpandIdentifier(section.section)) && sectionPriceTable.length > 1">expand_more</mat-icon>
                                                    {{ sectionPrice }}
                                                </span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <apto-summary-section-price *ngIf="showPrices && sectionPriceTable.length > 1" [section]="section.section" [expanded]="expandedSectionPrices.includes(getSectionExpandIdentifier(section.section))"></apto-summary-section-price>
                            </ng-container>
                        </div>
                        <div class="summary-configuration-divider"><div></div></div>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default price">
                                <div class="finished-message section">
                                    <div>
                                        <div class="section-name price">
                                            {{ contentSnippet$ | async | contentSnippet: 'totalPrice' }}
                                            <apto-discount-tag
                                                *ngIf="configuration?.statePrice?.discount?.discount"
                                                [label]="configuration.statePrice.discount.name"
                                            ></apto-discount-tag>
                                        </div>
                                        <div class="discount-name">{{ contentSnippet$ | async | contentSnippet: 'tax.withTax' }}</div>
                                        <apto-slot-outlet identifier="after-summary-tax"></apto-slot-outlet>
                                    </div>
                                </div>
                                <div class="summary-section-divider"></div>
                                <div class="section-right" [ngClass]="{'total-price': true, 'font-smaller': configuration.statePrice.sum.price.amount > 9999}">
                                    <div class="basic-discount-price" *ngIf="configuration?.statePrice?.discount?.discount">
                                        {{ sumPseudoPrice$ | async }}
                                    </div>
                                    {{ sumPrice }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
