<ng-container *ngIf="product$ | async as product">
    <ng-container *ngIf="configuration$ | async as configuration">
        <ng-container *ngIf="basicPrice$ | async as basicPrice">
            <ng-container *ngIf="sumPrice$ | async as sumPrice">
                <ng-container *ngIf="steps$ | async as steps">
                    <div class="summary bottom">
                        <div class="title">
                            <h5>{{ contentSnippet$ | async | contentSnippet: 'headline' }}: {{ product.name | translate }}</h5>
                            <p>Klicken Sie auf die Sektion, wenn Sie Änderungen vornehmen möchten</p>
                        </div>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default">
                                <div class="finished-message section">
                                    <div class="circle list"><mat-icon>euro</mat-icon></div>
                                    <div>
                                        <div class="section-name">Grundpreis</div>
                                        <!--<div *ngIf="(configuration$ | async)?.statePrice?.discount?.discount">
                                            <div class="element-name">
                                                {{ configuration.statePrice?.discount?.name | translate }}
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="section-right">
                                    <div class="basic-discount-price" *ngIf="(configuration$ | async)?.statePrice?.discount?.discount">
                                        {{ basicPseudoPrice$ | async }}
                                    </div>
                                    {{ basicPrice }}
                                </div>
                            </div>
                        </div>
                        <div class="summary configuration" *ngFor="let section of steps.steps; index as i">
                            <div class="single-section" (click)="setStep(section.section, product.seoUrl, product.useStepByStep)">
                                <div class="finished-message section">
                                    <div class="circle list">{{ i + 1 }}</div>
                                    <div>
                                        <div class="section-name">{{ section.section.name | translate }}</div>
                                        <div *ngFor="let element of section.elements">
                                            <div class="element-name" *ngIf="element.state.active">
                                                {{ element.element.name | translate }}
                                            </div>
                                        </div>
                                        <div *ngIf="!section.active">Nicht gewählt</div>
                                    </div>
                                </div>
                                <div class="section-right" *ngIf="showPrices">{{ getSectionPrice(section.section) | async }}</div>
                            </div>
                        </div>
                        <div class="summary configuration" *ngIf="showPrices">
                            <div class="single-section default price">
                                <div class="finished-message section">
                                    <div class="circle list"><mat-icon>euro</mat-icon></div>
                                    <div>
                                        <div class="section-name price">Summe</div>
                                    </div>
                                </div>
                                <div class="section-right total-price">
                                    <div class="basic-discount-price" *ngIf="(configuration$ | async)?.statePrice?.discount?.discount">
                                        {{ sumPseudoPrice$ | async }}
                                    </div>
                                    {{ sumPrice }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
