<md-dialog class="apto-md-dialog-fullscreen" aria-label="List dialog">
    <form name="sectionForm">
        <md-toolbar class="apto-md-toolbar-dark">
            <div class="md-toolbar-tools section-title">
                <h3 class="title-headline">
                    <span  ng-click="closeSection()" ng-class="'title-headline'" ng-if="productDetail.name" class="product-title-header">
                        {{languageFactory.translate( productDetail.name )}}
                    </span>
                    <md-menu ng-if="sections.length > 1" class="section-title-header">
                        <span ng-click="$mdMenu.open($event)">
                            {{getName()}}
                        </span>
                        <md-menu-content width="4">
                            <md-menu-item ng-click="editSection($event, section.id)" ng-repeat="section in sections" ng-if="section.id !== sectionId">
                                <md-button>
                                    {{getSectionName(section)}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <span ng-if="sections.length === 1" class="section-title-header">
                        <span>{{getName()}}</span>
                    </span>
                </h3>

                <span flex></span>
                <span ng-class="'title-id'">{{detail.id}}</span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-set="fa">&#xf00d</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Sektion">
                        <div class="apto-tab-content" ng-include="'catalog/pages/product/section/section-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Preise">
                        <div class="apto-tab-content" ng-include="'catalog/pages/product/section/price-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Rabatte">
                        <div class="apto-tab-content" ng-include="'catalog/pages/product/section/discount-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Elemente">
                        <div class="apto-tab-content" ng-include="'catalog/pages/product/section/element-tab.html'"></div>
                    </md-tab>
                    <md-tab label="Benutzerdefinierte Eigenschaften">
                        <div class="apto-tab-content" ng-include="'catalog/pages/product/section/custom-properties-tab.html'"></div>
                    </md-tab>
                </md-tabs>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-cornered" ng-click="close()">Abbrechen</md-button>
            <md-button class="md-raised md-primary md-cornered" ng-click="save(sectionForm)" type="submit">Speichern</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
