<div layout="row" layout-align="start" flex>
    <md-input-container flex>
        <label>Kennung:</label>
        <input ng-model="detail.identifier">
    </md-input-container>
    <div flex="5"></div>
    <md-input-container class="md-block" flex="20">
        <label>Position (Sortierung):</label>
        <input type="number" min="0" step="1" ng-model="detail.position">
    </md-input-container>
    <div flex="5"></div>
    <apto-translated-value label="'Name'" type="'input'" translated-value="detail.name" flex></apto-translated-value>
</div>
<div layout="row" layout-align="start" flex>
    <div layout="column" flex>
        <div layout="row" layout-align="start" flex>
            <md-input-container flex>
                <md-checkbox ng-model="detail.allowMultiple" ng-change="setAllowMultiple(detail.allowMultiple)" aria-label="Mehrfachauswahl" ng-disabled="moreThanOneDefaultElement()">
                    Mehrfachauswahl
                    <md-tooltip ng-if="moreThanOneDefaultElement()" md-direction="right">Nur abwählbar, wenn weniger als zwei Element in dieser Section als "Default"-Element gekennzeichnet wurden.</md-tooltip>
                </md-checkbox>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex>
                <md-checkbox ng-model="detail.isHidden" aria-label="Verstecken">
                    Verstecken
                </md-checkbox>
            </md-input-container>
        </div>
    </div>
    <div flex="5"></div>
    <div layout="column" flex>
        <div layout="row" layout-align="start" flex>
            <md-input-container flex>
                <label>Gruppe:</label>
                <md-select ng-model="$parent.selectedGroup"
                           md-on-close="clearSearchTerm()"
                           data-md-container-class="apto-md-select-search-container"
                           style="min-width: 200px;"
                >
                    <md-select-header class="apto-md-select-header">
                        <input ng-model="$parent.groupSearchTerm"
                               ng-keydown="$event.stopPropagation()"
                               type="search"
                               placeholder="Suchen:"
                               class="apto-md-header-search-box md-text">
                    </md-select-header>
                    <md-optgroup label="Gruppen">
                        <md-option ng-value="''">keine</md-option>
                        <md-option ng-value="group.id" ng-repeat="group in groups | filter:groupSearchTerm">{{languageFactory.translate(group.name)}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div layout="row" layout-align="start" flex>
    <apto-translated-value label="'Beschreibung'" type="'trumbowyg'" translated-value="detail.description" flex="100"></apto-translated-value>
</div>

<div>
    <p>Vorschaubild:</p>
</div>
<div layout="row" layout-align="start" flex>
    <div style="min-width: 128px; min-height: 128px; border: 1px solid #072540; padding: 6px;">
        <apto-media-icon ng-if="detail.previewImage" style="display: block;" file="{path: detail.previewImage, extension: detail.previewImageMediaFile.extension}" size="128x128"></apto-media-icon>
    </div>
    <div flex="5"></div>
    <apto-media-select on-select-file="onSelectPreviewImage(path)" label="'Pfad'" path="detail.previewImage" required="false" flex></apto-media-select>
    <div flex="5"></div>
    <md-input-container flex="20" ng-if="productDetail.useStepByStep === true">
        <md-checkbox ng-model="detail.isZoomable" aria-label="Lightbox">
            Vorschaubild Zoom möglich
        </md-checkbox>
    </md-input-container>
</div>