<ng-container>
    <mat-drawer-container>
        <mat-drawer #drawer fixedInViewport="true" class="drawer" mode="over" position="end">
            <apto-basket></apto-basket>
        </mat-drawer>
        <apto-slot-outlet identifier="header" *ngIf="!isInline"></apto-slot-outlet>
        <router-outlet *ngIf="shop && loginInitialized && accessGranted()"></router-outlet>
        <apto-frontend-users-login class="apto-frontend-users-login" *ngIf="!connector.configured && shop && loginInitialized && !accessGranted()"></apto-frontend-users-login>
        <apto-frontend-shop-login class="apto-frontend-users-login" *ngIf="connector.configured && shop && loginInitialized && !accessGranted()"></apto-frontend-shop-login>
        <apto-slot-outlet identifier="footer" *ngIf="!isInline"></apto-slot-outlet>
    </mat-drawer-container>
</ng-container>
