@import "form-inputs";
@import "globals";

:host {
    @include input-host();
}

.select-box-field {
    @include input-grid();

    .prefix {
        grid-area: prefix;
        @include prefix();
    }

    .name {
        grid-area: name;
        @include name();
    }

    .container {
        grid-area: container;
        @include container();
        @include select();
        @include clear-input();
    }

    .suffix {
        grid-area: suffix;
        @include suffix();
    }

    .hint {
        grid-area: hint;
        @include hint();
    }
}

@include select-overlay();

@media only screen and (min-width: $mobile-max-width) {
    .select-box-field {
        .name {
            @include name('tablet');
        }
    }
}
