<ng-container *ngIf="product?.useStepByStep">
	<div class="divider-line element-content" *ngIf="renderImage">
		<img class="image" [src]="renderImage.url" />

		<ng-container *ngIf="perspectives">
            <div *ngIf="perspectives.length > 1" class="arrows">
                <mat-icon (click)="prevRenderImage()" class="previous-image">chevron_left</mat-icon>
                <mat-icon (click)="nextRenderImage()" class="next-image">chevron_right</mat-icon>
            </div>
		</ng-container>
	</div>
</ng-container>

<ng-container *ngIf="!product?.useStepByStep && renderImage && renderImage.url">
    <ng-container *ngIf="perspectives">
        <div class="img-content">
            <div class="image-wrapper">
                <img class="one-page img" [src]="renderImage.url" />
            </div>
            <div *ngIf="perspectives.length > 1" class="arrows">
                <mat-icon (click)="prevRenderImage()" class="previous-image">arrow_back_ios</mat-icon>
                <mat-icon (click)="nextRenderImage()" class="next-image">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </ng-container>
</ng-container>
