@import "globals";

@mixin arrows {
    .arrows {
        color: #999999;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 1.875rem;
        margin: auto;
        mat-icon {
            font-size: 35px;
            width: 30px;
            height: fit-content;
            display: flex;
            align-items: center;
            font-weight: 700;
            &:hover {
                cursor: pointer;
            }
            &.previous-image {
                float: left;
            }
            &.next-image {
                float: right;
            }
        }
    }
}

.divider-line {
	border-bottom: 2px solid #f3f3f3;
}

.element-content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
    @include arrows();

    display: block;
    width: 100%;
    position: relative;
    height: auto;

    .image-wrapper {
        height: auto;
        width: 100%;
        min-height: 150px;
    }

    img.image {
        height: auto;
        width: auto;
        max-width: 100%;
    }
}

.img-content {
    display: block;
    width: 100%;
    position: relative;
    height: auto;
    @include arrows();

    .image-wrapper {
        width: calc(100% - 70px);
        height: 100%;
        position: relative;
        margin: 0 auto;

        .no-render-image {
            height: 200px;
            width: 250px;
            border-radius: var(--border-radius-card);
            background-color: var(--color-background-card);
            text-align: center;
            padding: 20px;
            box-shadow: var(--box-shadow);
            margin: 20px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.has-content {
        min-height: 150px;
    }

    @media (max-width: $tablet-max-width) {
        min-height: 150px;
    }
}
