@import "globals";
@import "form-inputs";

:host {
    @include input-host();
}

.input-field {
    @include input-grid();

    .name {
        grid-area: name;
        @include name();
    }

    .prefix {
        grid-area: prefix;
        @include prefix();
    }

    .container {
        grid-area: container;
        @include container();

        input {
            @include input();
        }

        @include ripple-controls(var(--input-height));
    }

    .suffix {
        grid-area: suffix;
        @include suffix();
    }

    .hint {
        grid-area: hint;
        @include hint();
    }
}
