<div class="input-field" [style.width]="width ? 'max-content' : '100%'" [class.input-disabled]="disabled">
    <div class="prefix" *ngIf="prefix">{{ prefix }}</div>
    <div class="name" *ngIf="name" [class.integer]="type === 'integer'">{{ name }}</div>

    <div class="container-elem" [style.width]="width" [class]="{'input-error': inputError}">
        <input *ngIf="isNumeric()"
           type="number"
           (focus)="onInputFocus($event)"
           [formControl]="formElement"
           [placeholder]="placeholder"
           [min]="min"
           [max]="max"
           [step]="step"
           [class.input-disabled]="disabled"
           tabindex="-1"
        />

        <input *ngIf="!isNumeric()"
           [formControl]="formElement"
           [placeholder]="placeholder"
           [type]="type === 'password' ? 'password' : 'text'"
           [class.input-disabled]="disabled"
        />

        <div class="ripple-controls" *ngIf="isNumeric()">
            <div class="control" mat-ripple (click)="increase()" [matRippleDisabled]="disabled" [class.input-disabled]="disabled">
                <mat-icon>arrow_drop_up</mat-icon>
            </div>
            <div class="control" mat-ripple (click)="decrease()" [matRippleDisabled]="disabled" [class.input-disabled]="disabled">
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </div>

        <div *ngIf="enableClear" class="clear-input" mat-ripple (click)="clear()">
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div class="hint" *ngIf="hint" [class.integer]="type === 'integer'">{{ hint }}</div>
    <div class="suffix" *ngIf="suffix">{{ suffix }}</div>
</div>
