@import "globals";
@import "form-inputs";
@import "common";

:host {
    @include input-host();

    &.ng-invalid.ng-dirty {
        .container {
            border: 1px solid red !important;
        }
    }
}

.input-field {
    @include input-grid();

    .name {
        grid-area: name;
        @include name('mobile');
    }

    .prefix {
        grid-area: prefix;
        @include prefix();
    }

    .container-elem {
        grid-area: container;
        @include container();
        @include clear-input();

        input {
            @include input();
            @include hide-number-input-arrows();
            @include input-disabled();
        }

        @include ripple-controls(var(--input-height));
    }

    .suffix {
        grid-area: suffix;
        @include suffix();
    }

    .hint {
        grid-area: hint;
        @include hint();
    }
}

@media only screen and (min-width: $mobile-max-width) {
    .input-field {
        .name {
            @include name('tablet');
        }
    }
}
