<ng-container *ngIf="progressStep && product && elements">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [id]="'id' + index?.toString()" [expanded]="index === 0">
        <mat-expansion-panel-header [class.divider-line]="panelOpenState">
            <div>
                <mat-panel-title>
                    {{ progressStep.section.name | translate }}
                    <div *ngIf="progressStep.fulfilled && progressStep.active" [class.selected]="progressStep.fulfilled" class="circle-one-page"><mat-icon>done</mat-icon></div>
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <div class="one-page-elements section-{{ progressStep.section.identifier }}">
            <div class="element-container" *ngFor="let element of sectionProductElements" [class.element-is-disabled]="isElementDisabled(element.id, element.sectionRepetition)">
                <ng-container *ngIf="getProgressElement(element.id) as pElement">
                    <apto-slot-outlet
                        *ngIf="!isElementDisabled(element.id, element.sectionRepetition) || !product.keepSectionOrder"
                        [identifier]="pElement.element.definition.staticValues.aptoElementDefinitionId"
                        [product]="product"
                        [section]="progressStep.section"
                        [element]="pElement"
                    ></apto-slot-outlet>
                </ng-container>
            </div>
        </div>
    </mat-expansion-panel>
</ng-container>
