<ng-container *ngIf="section && product && elements">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [id]="'id' + index?.toString()" [expanded]="index === 0">
        <mat-expansion-panel-header [class.divider-line]="panelOpenState">
            <div>
                <mat-panel-title>
                    {{ section.section.name | translate }}
                    <div *ngIf="section.fulfilled && section.active" [class.selected]="section.fulfilled" class="circle-one-page"><mat-icon>done</mat-icon></div>
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <div class="one-page-elements">
            <ng-container class="element" *ngFor="let element of sectionProductElements">
                <ng-container *ngIf="getProgressElement(element.id) as pElement">
                    <apto-slot-outlet
                        *ngIf="!isElementDisabled(element.id)"
                        [identifier]="pElement.element.definition.staticValues.aptoElementDefinitionId"
                        [product]="product"
                        [section]="section.section"
                        [element]="pElement"
                    ></apto-slot-outlet>
                </ng-container>
            </ng-container>
        </div>
    </mat-expansion-panel>
</ng-container>
