<div class="save-dialog" [attr.type]="'custom'">
    <apto-login-close-button [mat-dialog-close]="true" [inner]="true"></apto-login-close-button>

    <h1 mat-dialog-title>{{ contentSnippets$ | async | contentSnippet: 'login' }}</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="formGroup" (ngSubmit)="login()">
        <mat-dialog-content>
            <div class="error-message" *ngIf="loginError$ | async">{{ contentSnippets$ | async | contentSnippet: 'LoginNotSuccessFull' }}</div>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'EMailUsername'" [type]="'text'" formControlName="username"></apto-input-field>
            <apto-input-field [fullWidth]="true" [name]="contentSnippets$ | async | contentSnippet: 'Password'" [type]="'password'" formControlName="password"></apto-input-field>
            <div class="forgot-password" (click)="openPasswordResetModal()">
                {{contentSnippets$ | async | contentSnippet: 'forgotPassword'}}
            </div>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-flat-button color="primary" type="submit">{{ contentSnippets$ | async | contentSnippet: 'dialogLogin' }}</button>
        </mat-dialog-actions>
    </form>
</div>
