<md-card id="apto-data-list-toolbar-fixed">
    <md-toolbar class="apto-md-toolbar-dark">
        <div class="md-toolbar-tools">

            <!-- Language switch -->
            <md-menu ng-if="$ctrl.languageFactory.languages.length > 1" md-position-mode="target-left target">
                <md-button aria-label="Open language selector" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin md-font-set="fa">&#xf0ac</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="language in $ctrl.languageFactory.languages">
                        <md-button ng-click="$ctrl.setActiveLanguage(language)">
                            <div layout="row" flex>
                                <p flex>{{ $ctrl.languageFactory.translate(language.name) }}</p>
                                <md-icon md-menu-align-target md-font-set="fa" style="margin: auto 3px auto 0;">&#xf0ac</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <!-- Title -->
            <h3>
                <span>
                    {{ $ctrl.config.title }}
                    <span style="font-size: 16px;">({{ $ctrl.languageFactory.translate($ctrl.languageFactory.activeLanguage.name) }})</span>
                </span>
            </h3>
            <span flex></span>

            <!-- Aktionen -->
            <md-input-container class="apto-toolbar-search" ng-if="$ctrl.config.search.show" md-theme="apto-dark" md-no-float>
                <input type="text" ng-model="$ctrl.config.search.searchString" placeholder="Suchen" ng-keyup="$ctrl.onSearchStringKeyUp($event)">
            </md-input-container>
            <md-button ng-if="$ctrl.config.search.show" class="md-icon-button" title="Suchen" ng-click="$ctrl.actions.search.fnc($ctrl.config.search.searchString);">
                <md-icon md-font-set="fa">&#xf002</md-icon>
            </md-button>
            <md-button ng-if="$ctrl.config.add.show && $ctrl.aclIsGranted.allGranted($ctrl.config.add.aclMessagesRequired)" apto-show-granted-info="{{ $ctrl.config.add.aclMessagesRequired }}" class="md-icon-button" title="Hinzufügen" ng-click="$ctrl.actions.add.fnc($event)">
                <md-icon md-font-set="fa">&#xf055</md-icon>
            </md-button>
            <md-button ng-if="$ctrl.config.listStyle.show" class="md-icon-button" title="Liste als Tabelle anzeigen" ng-click="$ctrl.actions.listStyle.fnc('components/data-list/data-table-list.html')">
                <md-icon md-font-set="fa">&#xf03a</md-icon>
            </md-button>
            <md-button ng-if="$ctrl.config.listStyle.show" class="md-icon-button" title="Liste als Kacheln anzeigen" ng-click="$ctrl.actions.listStyle.fnc('components/data-list/card-list.html')">
                <md-icon md-font-set="fa">&#xf00a</md-icon>
            </md-button>
            <md-button ng-if="$ctrl.config.listSettings.show" class="md-icon-button" title="Filter">
                <md-icon md-font-set="fa">&#xf0b0</md-icon>
            </md-button>
            <md-button ng-if="$ctrl.config.selectAll.show" class="md-icon-button" title="Filter">
                <md-icon md-font-set="fa">&#xf046</md-icon>
            </md-button>
            <div ng-if="$ctrl.config.pagination.show">
                Seite <input style="width: 70px; text-align: center;" ng-change="$ctrl.actions.pageChanged.fnc($ctrl.config.pagination.pageNumber)" ng-model="$ctrl.config.pagination.pageNumber" type="number" step="1" min="1" > von {{ $ctrl.config.pagination.numberOfPages }}
            </div>
            <md-button ng-if="$ctrl.config.toggleSideBarRight.show" class="md-icon-button" title="Message Log" ng-click="$ctrl.actions.toggleSideBarRight.fnc()">
                <md-icon md-font-set="fa">&#xf0c9</md-icon>
            </md-button>
            <md-button class="md-icon-button" title="Hilfe" ng-click="$ctrl.openHelp()">
                <md-icon md-font-set="fa">&#xf059</md-icon>
            </md-button>

            <!-- Delete cache menu -->
            <md-menu title="Cache löschen" md-position-mode="target-left target" ng-if="$ctrl.aclIsGranted.allGranted({commands: ['ClearAptoCache'], queries: []})" apto-show-granted-info="{{ {commands: ['ClearAptoCache'], queries: []} }}">
                <md-button aria-label="Open language selector" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin md-font-set="fa">&#xf0e7</md-icon>
                </md-button>
                <md-menu-content width="4">

                    <md-menu-item>
                        <md-button ng-click="$ctrl.clearCache()">
                            <div layout="row" flex>
                                <p flex>Alle löschen</p>
                                <md-icon md-menu-align-target md-font-set="fa" style="margin: auto 3px auto 0; color: red;">&#xf0e7</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="$ctrl.clearCache(['image-thumb'])">
                            <div layout="row" flex>
                                <p flex>Thumbnails löschen</p>
                                <md-icon md-menu-align-target md-font-set="fa" style="margin: auto 3px auto 0; color: gold;">&#xf0e7</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="$ctrl.clearCache(['image-rendered'])">
                            <div layout="row" flex>
                                <p flex>Gerenderte Bilder löschen</p>
                                <md-icon md-menu-align-target md-font-set="fa" style="margin: auto 3px auto 0; color: gold;">&#xf0e7</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="$ctrl.clearCache(['apcu'])">
                            <div layout="row" flex>
                                <p flex>Datenbank/APCu Cache leeren</p>
                                <md-icon md-menu-align-target md-font-set="fa" style="margin: auto 3px auto 0; color: gold;">&#xf0e7</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</md-card>