<div class="product-list">
    <ng-container *ngFor="let product of productList$ | async">
        <div *ngIf="!product.hidden" [routerLink]="['/product', product.seoUrl]">
            <div class="product">
                <div class="image" [ngClass]="{'no-image': !product.previewImage}">
                    <img *ngIf="product.previewImage" [src]="product.previewImage"/>
                </div>
                <div class="product-description">
                    <h3>
                        {{ product.name | translate }}
                    </h3>
                    <div *ngIf="(product.description | translate) !== '' "
                         [innerHTML]="product.description | translate | safeHtml">
                    </div>
                    <button mat-flat-button color="primary" [routerLink]="['/product', product.seoUrl ?? product.id]">
                        {{ contentSnippets$ | async | contentSnippet: 'button' }}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
