@import "globals";

.image {
	padding-top: 10px;
	height: 210px;
    display: flex;
    align-items: center;
    flex: none;
	img {
		max-height: 200px;
		max-width: 250px;
	}
}

.product-list-wrapper {
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
    max-width: var(--layout-max-with);
    padding: 50px 40px;

    .product-list {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        min-height: 200px;
        min-width: 100%;
    }
}

.product {
	width: 310px;
    max-height: 600px;
	background-color: white;
	border-radius: var(--border-radius-card);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	overflow: hidden;
    gap: 10px;
}

.product-description {
	padding: 20px 10px;
	overflow: auto;
	border-top: 2px solid var(--color-border);
	width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
	> div {
		color: var(--color-text);
        display: flex;
        flex-grow: 1;
        max-height: 193px;
        overflow: auto;
	}
	h3 {
		color: var(--color-title);
        display: flex;
        margin: 0;
	}
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        align-self: center;
        flex-grow: 0;
    }
}

.image.no-image {
    height: 0;
    + .product-description {
        border: none;
        > div {
            max-height: 395px;
        }
    }
}

::-webkit-scrollbar {
	background-color: var(--color-background-card) !important;
}

@media only screen and (max-width: $tablet-max-width) {
	.product-list {
		padding: 10px;
    }
}
