<div class="product-list">
	<div class="product" *ngFor="let product of productList$ | async" [routerLink]="['/product', product.seoUrl]">
		<div class="image">
			<img *ngIf="product.previewImage" [src]="product.previewImage" />
			<div *ngIf="!product.previewImage" class="missing-image"></div>
		</div>
		<div class="product-description">
            <h3>
				{{ product.name | translate }}
			</h3>
            <div *ngIf="(product.description | translate) !== '' " [innerHTML]="product.description | translate | safeHtml"></div>
            <button mat-flat-button color="primary" [routerLink]="['/product', product.seoUrl ?? product.id]">Konfigurieren</button>
        </div>
	</div>
</div>
